<div class="flex mb-4">
  <a
    class="bg-amber-300 tracking-widest cursor-pointer hover:underline mr-2"
    href="/"
  >
    Home
  </a>

  <a
    class="bg-amber-300 tracking-widest cursor-pointer hover:underline mr-2"
    href="/about.html"
  >
    About
  </a>
</div>
